<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-icon name="chevron-back-outline" size="large" class="header-icon" routerLink="/tabs/perfil"></ion-icon>
      <ion-title>Historial Pedidos</ion-title>
      <ion-label class="header-icon"></ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="entregadas">
        <ion-label>Entregada</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="en-proceso">
        <ion-label>En proceso</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="">
        <ion-label>Canceladas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>



</ion-content>