<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-label class="header-icon"></ion-label>
      <ion-title class="ion-text-center header-title"> Perfil</ion-title>
      <ion-icon name="log-out-outline" class="header-icon" size="large" routerLink=""></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="main-grid">
    <ion-row class="user">
      <ion-avatar>
        <img src="../../assets/user.webp" />
      </ion-avatar>
      <ion-label class="name-email">
        <ion-label class="name">Henry Cavil</ion-label>
        <ion-text>henrycavil@gmail.com</ion-text>
      </ion-label>
    </ion-row>
    <ion-row class="options">
      <ion-row class="personal-data">
        <ion-card>
          <ion-card-content>
            <div class="data-div">
              <ion-label class="data-label">Datos personales</ion-label>
              <ion-text>Henry Cavil</ion-text>
            </div>
            <img src="../../assets/icon/arrow-icon.svg">
          </ion-card-content>
        </ion-card>  
      </ion-row>
      <ion-row class="payment-method">
        <ion-card routerLink="tarjetas">
          <ion-card-content>
            <div class="data-div">
              <ion-label class="data-label">Tarjetas</ion-label>
              <ion-text><span id="card-counter">2</span> tarjetas registradas</ion-text>
            </div>
            <img src="../../assets/icon/arrow-icon.svg">
          </ion-card-content>
        </ion-card>  
      </ion-row>
      <ion-row class="coupons">
        <ion-card>
          <ion-card-content>
            <div class="data-div">
              <ion-label class="data-label">Cupones</ion-label>
              <ion-text><span id="coupons-counter">2</span> disponibles</ion-text>
            </div>
            <img src="../../assets/icon/arrow-icon.svg">
          </ion-card-content>
        </ion-card>  
      </ion-row>
      <ion-row class="history">
        <ion-card>
          <ion-card-content>
            <div class="data-div">
              <ion-label class="data-label">Mi historial de pedidos</ion-label>
              <ion-text><span id="order-counter">5</span> pedidos</ion-text>
            </div>
            <img src="../../assets/icon/arrow-icon.svg">
          </ion-card-content>
        </ion-card>   
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
