.name, .price, .review, .add, .spinner{
  display: flex;
  align-items: center;
}

.name, .price, .review{
    height: 14%;
}

ion-grid, .product-img, .quantity-btn{
    height: 100%;
}

.price, .add, .spinner{
    justify-content: space-between;
}

.fav-button{
    width: 15%;
}

.content{
    flex-direction: column;
    height: 50%;
}

.img{
    height: 50%;
}

.comment{
    height: 38%;
}

.add{
    height: 20%;
}

.price-label{
    font-size: 1.3rem;
}

.add-button{
    width: 75%;
}

.product-name{
    font-size: 1.1rem;
}

.star-icon{
    margin: 0;
}

.star-number{
    margin-left: 2vw;
}

.reviews-number{
    margin-left: 6vw;
}

.spinner{
    height: 60%;
    width: 35%;
}