.header, .name, .price, .review, .add{
  display: flex;
  align-items: center;
}

.name, .price, .review{
    height: 14%;
}

.header{
    display: flex;
}

ion-grid, .product-img{
    height: 100%;
}

.cart, .back, .fav-button{
    width: 15%;
}

.price, .add{
    justify-content: space-between;
}

.content{
    flex-direction: column;
    height: 50%;
}

.detail-title{
    width: 60% ;
}

.img{
    height: 50%;
}

.comment{
    height: 38%;
}

.add{
    height: 20%;
}

.price-label{
    font-size: 1.3rem;
}

.add-button{
    width: 75%;
}

.product-name{
    font-size: 1.1rem;
}

.star-icon{
    margin: 0;
}

.star-number{
    margin-left: 2vw;
}

.reviews-number{
    margin-left: 6vw;
}
