ion-card-content, ion-row, .tail, .info, .action, .action-net, .icon-container{
    display: flex;
    flex-direction: column;
}

.info, .action, .action-net, .icon-container{
    justify-content: center;
}

.action-net, .action, .icon-container{
    align-items: center;
}

ion-card, ion-card-content{
    height: 100%
}

.data, .tail{
    height: 40%;
}

ion-button, .networks{
    width: 75%;
}

ion-input{
    border-bottom:1px solid;
}

ion-grid{
    height: 90%;
    margin: 5vh 0 5vh 0;
}

.header{
   height: 20%;
}

.info{
    width: 100%;
    height: 50%;
}

.action-net{
    height: 25%;
}

.action{
    height: 15%;
}

.networks{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-between;
    height: 80%;
}

.icon-container{
    border: 2px solid #D7D7D7;
    border-radius: 15%;
}

