<ion-content>
  <ion-grid>
    <ion-row class="header">
      <ion-img src="../../assets/logo.svg"></ion-img>
      <ion-title class="ion-text-center">Iniciar sesión</ion-title>
    </ion-row>

    <ion-row class="data">
      <ion-card>
        <ion-card-content>
          <ion-label class="info">
            <ion-label class="i">
              <ion-text class="var">Correo</ion-text>
              <ion-input class="var input-data" type="email"></ion-input>
            </ion-label>
          </ion-label>
          <ion-label class="info">
            <ion-label class="i">
              <ion-text class="var">Contraseña</ion-text>
              <ion-input class="var input-data" type="password"></ion-input>
            </ion-label>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="tail">
      <ion-label class="action ion-text-center semibold-text">
        <a id="open-recovery-modal" expand="block">¿Olvidaste tu contraseña?</a>
      </ion-label>
      <ion-label class="action-start-button">
        <ion-button
          color="dark"
          routerLink="tabs"
          class="start-button semibold-text"
          >Iniciar</ion-button
        ></ion-label
      >
      <ion-label class="action semibold-text">
        <a routerLink="tabs">Omitir</a>
      </ion-label>

      <ion-label class="action semibold-text">
        <a routerLink="registro">Registrarse</a></ion-label
      >
      <ion-label class="action"><ion-text>Iniciar con</ion-text></ion-label>
      <ion-label class="action-net">
        <div class="networks">
          <div class="icon-container">
            <img class="icon" src="../../assets/icon/facebook-icon.svg" />
          </div>
          <div class="icon-container">
            <img class="icon" src="../../assets/icon/google-icon.svg" />
          </div>
          <div class="icon-container">
            <img class="icon" src="../../assets/icon/apple-icon.svg" />
          </div>
        </div>
      </ion-label>
    </ion-row>
  </ion-grid>

  <!--recovery password inline modal-->
  <ion-modal #modal trigger="open-recovery-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title size="small" class="modal-header">¿Olvidaste tu contraseña?</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()">
              <div class="btn-confirm-modal modal-header">Enviar</div>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-label class="info">
          <ion-label class="i-modal">
            <ion-text class="var"
              >Ingresa el correo con el que inicias sesión
            </ion-text>
            <ion-label>
              <ion-input
                class="var input-data"
                #inputEmail
                type="email"
                (input)="showInput(inputEmail.value)"
              ></ion-input>
            </ion-label>
          </ion-label>
        </ion-label>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
