ion-card-content, ion-row, .tail, .info, var, .action, .action-net, .icon-container{
    display: flex;
    flex-direction: column;
}

.info, .var, .action, .action-net, .icon-container{
    justify-content: center;
}

.action-net, .action, .icon-container{
    align-items: center;
}

ion-card, ion-card-content{
    height: 100%
}

.register-button, .networks{
    width: 75%;
}

.var{
    height: 100%;
}

ion-input{
    border-bottom:1px solid;
}

ion-grid{
    height: 90%;
    margin: 5vh 0 5vh 0;
}

.header{
   height: 20%;
}

.data{
    height: 50%;
}

.tail{
    height: 30%;
}

.info{
    height: 20%;
}

.i{
    height: 33%;
}

.action-net{
    height: 25%;
}

.action{
    height: 33%;
}

.networks{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-between;
    height: 80%;
}

.icon-container{
    border: 2px solid #D7D7D7;
    border-radius: 15%;
}

#open-terms-modal{
    text-decoration: underline;
}

ion-modal{
    --height: 80%;
}

.terms-div{
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

.input-data{
    font-family: 'Nunito Sans', sans-serif;
}




